{{- /* Prompt on first init, but don't re-prompt on subsequent init if the data is there. */ -}}
{{- /* https://www.chezmoi.io/docs/how-to/#re-create-your-config-file */ -}}


sourceDir = {{ .chezmoi.sourceDir | quote }}

{{- $name = promptString "Name for .gitconfig" -}}
{{- $email = promptString "Email for .gitconfig" -}}
{{- $installApps = eq (promptString "Install applications (y/N)") "y" -}}

[merge]
  command = "meld"
[data]
  email = {{ $email | quote }}
  name = {{ $name | quote }}
  install_apps = {{ $installApps }}
  codespaces = false
  # store_secrets = false
