# This file exists to be copied to the windows gitconfig location
# Typically to %USERPROFILE%\.gitconfig

{{ template "gitconfig-base.tmpl" . -}}

[core]
	autocrlf = false
    fileMode = false
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
