#!{{ lookPath "bash" }}

set -eu

source {{ .chezmoi.workingTree }}/scripts/common.sh
source {{ .chezmoi.workingTree }}/scripts/windows-common.sh

# vscode config hash: {{ include "dot_config/VSCode/User/modify_settings.json" | sha256sum }}
# vscode modify_settings hash: {{ include ".chezmoitemplates/.config/VSCode/User/settings.json" | sha256sum }}

{{ if lookPath "code" }}

vscode_windows_settings_path=$(wslpath $(win_cmd "echo %APPDATA%\Code\User\settings.json"))

if [ -f "$vscode_windows_settings_path" ]; then
    log_task copying Windows VS Code config to WSL for modification
    mkdir -p ~/.config/VSCode/User
    cp "$vscode_windows_settings_path" ~/.config/VSCode/User/settings.json
fi

{{ end }}