#!{{ lookPath "bash" }}

set -eu

source {{ .chezmoi.workingTree }}/scripts/common.sh
source {{ .chezmoi.workingTree }}/scripts/windows-common.sh

# windows-terminal settings hashes:
{{- range $file := glob (joinPath .chezmoi.workingTree "dot_config/windows-terminal/*/**") }}
# {{ include "$file" | sha256sum }}
{{- end }}

TERMINAL_SETTINGS_FILE_WIN=$(win_path_to_wsl "%LOCALAPPDATA%\Packages\Microsoft.WindowsTerminal_8wekyb3d8bbwe\LocalState\settings.json")

if [ -f "${TERMINAL_SETTINGS_FILE_WIN}" ]; then
    log_task Adding color schemes and themes to windows terminal...
    defaultSchemeName=""
    for filename in ~/.config/windows-terminal/color-schemes/*; do
        if [ -z "${defaultSchemeName}" ]; then
            defaultSchemeName=$(jq -r '.name' "${filename}")
        fi
        jq  '.schemes |= (. + [input] | unique)' "${TERMINAL_SETTINGS_FILE_WIN}" "${filename}" | sponge "${TERMINAL_SETTINGS_FILE_WIN}"
    done

    defaultThemeName=""
    for filename in ~/.config/windows-terminal/themes/*; do
        if [ -z "${defaultThemeName}" ]; then
            defaultThemeName=$(jq -r '.name' "${filename}")
        fi
        jq  '.themes |= (. + [input] | unique)' "${TERMINAL_SETTINGS_FILE_WIN}" "${filename}" | sponge "${TERMINAL_SETTINGS_FILE_WIN}"
    done

    if [ ! -z "${defaultSchemeName}" ]; then
        log_green "Setting the default color scheme to the first one ($defaultSchemeName)"
        jq --arg colorschemename "${defaultSchemeName}" '.profiles.defaults.colorScheme = $colorschemename' "${TERMINAL_SETTINGS_FILE_WIN}" | sponge "${TERMINAL_SETTINGS_FILE_WIN}"
    fi
    if [ ! -z "${defaultThemeName}" ]; then
        log_green "Setting the default theme to the first one ($defaultThemeName)"
        jq --arg colorthemename "${defaultThemeName}" '.theme = $colorthemename' "${TERMINAL_SETTINGS_FILE_WIN}" | sponge "${TERMINAL_SETTINGS_FILE_WIN}"
    fi
fi


