#!{{ lookPath "bash" }}

set -eu
source {{ .chezmoi.workingTree }}/scripts/common.sh

# If the plugins aren't installed, only tpm will be in the plugins dir
plugins_path=$HOME/.tmux/plugins
if [ ! "$(ls -1 ${plugins_path} | wc -l)" -gt "1" ]; then
    log_task "Installing Tmux TPM plugins"
    ${plugins_path}/tpm/scripts/install_plugins.sh
fi