#!{{ lookPath "bash" }}

set -eu

source {{ .chezmoi.workingTree }}/scripts/common.sh
source {{ .chezmoi.workingTree }}/scripts/windows-common.sh

# {{ include "dot_gitconfig.tmpl" | sha256sum }}
# {{ include "dot_gitconfig-windows.tmpl" | sha256sum }}
# {{ include "dot_gitmessage" | sha256sum }}

gitconfig_winpath=$(win_cmd "echo %USERPROFILE%")
gitconfig_winpath_escaped=$(echo "${gitconfig_winpath}" | sed 's/\\/\\\\\\\\/g')
gitconfig_dest=$(wslpath ${gitconfig_winpath})

log_task Deploying .gitconfig, .gitmessage, .gitattributes to $gitconfig_dest
sed --expression "s|~/|${gitconfig_winpath_escaped}\\\\\\\\|" ~/.gitconfig-windows > "$gitconfig_dest/.gitconfig"
cp ~/.gitmessage "$gitconfig_dest/.gitmessage"
cp ~/.gitattributes "$gitconfig_dest/.gitattributes"
