#!{{ lookPath "bash" }}

source {{ .chezmoi.workingTree }}/scripts/common.sh

# PKGBUILD hash: {{ include "external_dot_custom_pkgbuilds/tokyonight-gtk-theme-git/PKGBUILD" | sha256sum }}

cd ~/.custom_pkgbuilds/tokyonight-gtk-theme-git

log_task Installing Tokyonight GTK theme...
makepkg -si --needed --noconfirm