#!{{ lookPath "bash" }}

set -eu

source {{ .chezmoi.workingTree }}/scripts/common.sh

if [ ! -d $HOME/{{- .nvim_home -}}/plugged ]; then
    log_task "Installing nvim Plug plugins"
    nvim +'PlugInstall --sync' +qa
fi
