#!{{ lookPath "bash" }}

set -eu
source {{ .chezmoi.workingTree }}/scripts/common.sh

# If the plugins aren't installed, only tpm will be in the plugins dir
if [ -f ~/.tmux/plugins/tpm/scripts/install_plugins.sh ]; then
    log_task "Installing Tmux TPM plugins"
    ~/.tmux/plugins/tpm/scripts/install_plugins.sh || true
fi