#!{{ lookPath "zsh" }}

set -eu

source {{ .chezmoi.workingTree }}/scripts/common.sh

# {{ output "date" "+%V" | trim }}

if [ -f "$ZSH/tools/upgrade.sh" ]; then
    log_task "Updating OMZ"
    zsh "$ZSH/tools/upgrade.sh"  
fi