#!{{ lookPath "bash" }}

source {{ .chezmoi.workingTree }}/scripts/common.sh

packages=(
    git
    curl
    wget
    zsh
    gnupg
    neovim
    tmux
    fzf
    socat
    chezmoi
    openssh
    fontconfig

    {{- if .install_optional_apps }}
    bat
    eza
    dust
    duf
    zoxide
    k9s

    {{- if .is_arch }}
    difftastic
    {{ end -}}

    {{ end -}}
)

log_task "Installing packages: ${packages[*]}"

# This script also gets called when running rootmoi
{{ if eq .chezmoi.username "root" }}
    sudo=""
{{ else }}
    sudo="sudo"
{{ end }}

{{ if eq .osid "linux-ubuntu" }}
    packages+=(fd-find sudo)
    log_cmd $sudo apt update
    log_cmd $sudo apt install --yes --no-install-recommends "${packages[@]}"
{{ else if eq .osid "linux-termux" }}
    packages+=(
        fd # Used by fzf completion
        termux-api # needed for things like android clipboard
    ) 
    log_cmd pkg update
    log_cmd pkg install -y "${packages[@]}"
{{ else if .is_arch }}
    packages+=(fd sudo base-devel)
    {{ if lookPath "yay" }}
        log_cmd yay -Syyu --noconfirm --sudoloop --needed "${packages[@]}"
    {{ else }}
        log_cmd $sudo pacman -Syyu --noconfirm --needed "${packages[@]}"
    {{ end }}
{{ end }}
