#!{{ lookPath "bash" }}

set -eu

source {{ .chezmoi.workingTree }}/scripts/common.sh
source {{ .chezmoi.workingTree }}/scripts/windows-common.sh

{{ $nvim_conf := joinPath .chezmoi.workingTree "home/dot_config/external_nvim" }}
# nvim config hash: {{ output "bash" "-c" "git submodule status home/dot_config/external_nvim | cut -d \" \" -f2" }}

win_nvim_conf=$(wslpath $(win_cmd "echo %LOCALAPPDATA%\nvim"))

log_task Deploying nvim config to windows
rm -rf "${win_nvim_conf}"
cp -r {{ $nvim_conf }} "${win_nvim_conf}"