#!{{ lookPath "bash" }}

set -eu

{{ if eq .chezmoi.username "root" }}
    sudo=""
{{ else }}
    sudo="sudo"
{{ end }}

{{ if eq .osid "linux-termux" -}}
    chsh -s zsh || true
{{- else -}}
    $sudo chsh -s $(chsh -l | grep zsh | head -n 1) $USER || true
{{ end }}