#!{{ lookPath "bash" }}

set -eu

source {{ .chezmoi.workingTree }}/scripts/common.sh

{{ if eq .osid "linux-ubuntu" }}
    log_task "Adding a symlink from fdfind to fd"
    fdfind_path=$(which fdfind)
    fd_path="$(dirname $fdfind_path)/fd"

    if [ ! -f $fd_path ]; then
        sudo ln -s $fdfind_path $fd_path
    fi
{{- end -}}
