#!{{ lookPath "bash" }}

set -eu

source {{ .chezmoi.workingTree }}/scripts/common.sh

# {{ output "date" "+%V" | trim }}
# {{ include ".chezmoiignore" | sha256sum | trim }}
{{- if lookPath "nvim" }}

log_task "Updating LazyVim"
nvim --headless "+Lazy! sync" +qa

{{- end }}


{{ if and .is_wsl (ne (output "bash" "-c" "cmd.exe /C \"where nvim\" 2>/dev/null || true") "") }}

source {{ .chezmoi.workingTree }}/scripts/windows-common.sh
log_task "Updating Windows LazyVim"
cmd.exe /C nvim --headless "+Lazy! sync" +qa

{{- end }}
