#!{{ lookPath "bash" }}

set -eu

source {{ .chezmoi.workingTree }}/scripts/common.sh
source {{ .chezmoi.workingTree }}/scripts/windows-common.sh

# cate modify_settings hash: {{ include "dot_config/Cate/modify_settings.json" | sha256sum }}
# cate settings hash: {{ include ".chezmoitemplates/.config/Cate/settings.json" | sha256sum }}

{{ if lookPath "code" }}

cate_windows_settings_path=$(win_path_to_wsl "%APPDATA%\Cate")

if [ -d "$cate_windows_settings_path" ]; then
    log_task copying Windows Cate config to WSL for modification
    mkdir -p ~/.config/Cate
    cp ${cate_windows_settings_path}/settings.json ~/.config/Cate/ || true
fi

{{ end }}
