{{ if lookPath "rclone" -}}

gdrive-rclone() {
    if [[ "$1" == "-h" || "$1" == "--help" ]]; then
        cat <<EOF
Wrapper for rclone to make it easier to map local dirs to drive folder ids
Looks for a '.gdrive' file in workdir and parents, and uses its location as the sync root.
The file contains the rclone remote name and the remote folder id (if any)
eg:

my-gdrive-remote
1Xyfxxxxxxxxxxxxxxxxx

The word "drive" will be replaced with the remote name and relative path:
drive => remote_name:sub/path

Usage: gdrive-rclone <command> drive <other flags>
Example: gdrive-rclone sync . drive -P --dry-run
EOF
        return 0
    fi
    
    local id_file=".gdrive"
    local search_dir="$PWD"
    local project_root=""
    local remote_name=""
    local folder_id=""

    for ((i=0; i<10; i++)); do
        if [[ -f "$search_dir/$id_file" ]]; then
            project_root="$search_dir"
            { read -r remote_name; read -r folder_id; } < "$project_root/$id_file"
            break
        fi
        search_dir=$(dirname "$search_dir")
        [[ "$search_dir" == "/" ]] && break
    done

    if [[ -z "$remote_name" || -z "$folder_id" ]]; then
        echo "Error: $id_file not found or missing Remote/ID."
        return 1
    fi

    local rel_path=$(realpath --relative-to="$project_root" "$PWD")
    [[ "$rel_path" == "." ]] && rel_path=""

    local mapping="${remote_name}:${rel_path}"

    local args=()
    for arg in "$@"; do
        if [[ "$arg" == "drive" ]]; then
            args+=("$mapping")
        else
            args+=("$arg")
        fi
    done

    echo "Rclone Mapping: $mapping"
    echo "Rclone Root Folder ID: $folder_id"
    echo "Project Root: $project_root"
    echo "Relative Path: $rel_path"
    
    export RCLONE_DRIVE_ROOT_FOLDER_ID="$folder_id" 
    echo_and_run rclone "${args[@]}"
}

{{- end }}
