{{ if lookPath "rclone" -}}

rclonep() {
    if [[ "$1" == "-h" || "$1" == "--help" ]]; then
        cat <<EOF
Wrapper for rclone to make it easier to map local dirs to rclone remotes

Looks for a '.rclone' file in workdir and parents, and uses its location as the sync root.
The file contains rclone env variables to be sourced.
We add a special variable RCLONE_REMOTE to designate the name of the remote
eg:

RCLONE_REMOTE=my-gdrive-remote
RCLONE_DRIVE_ROOT_FOLDER_ID=1Xyfxxxxxxxxxxxxxxxxx

Supports passing all '.rcloneignore' files encountered in subdir chain to rclone '--filter' flag
(in order of occurrence subdir => parent dir)
NOTE: does not respect the location of the .rcloneignore file currently; all ignores are relative to root

Automatically adds '--exclude-if-present .rcloneignoredir' to skip directories

Usage: rclonep <command> : <other flags>
Example: rclonep sync . : -P --dry-run
EOF
        return 0
    fi
    
    
    local search_dir="$PWD"
    local project_root=""
    
    local dot_rclone_file_name=".rclone"
    local dot_rclone_file=""
    
    local rclone_ignore_file_name=".rcloneignore"
    local rclone_ignore_files=()
    
    if [[ "$1" == "init" ]]; then
        if [ -f "$dot_rclone_file_name" ]; then
            echo "$dot_rclone_file_name file already present"
        else
            cat <<EOF > "$dot_rclone_file_name"
RCLONE_REMOTE=
RCLONE_DRIVE_ROOT_FOLDER_ID=
EOF
            echo "Created a $dot_rclone_file_name in the current directory."
        fi
        
        if [ -f "$rclone_ignore_file_name" ]; then
            echo "$rclone_ignore_file_name file already present"
        else
            touch "$rclone_ignore_file_name"
            echo "Created a $rclone_ignore_file_name in the current directory."
        fi
        
        return 0
    fi

    for ((i=0; i<10; i++)); do
        if [[ -f "$search_dir/$rclone_ignore_file_name" ]]; then
            rclone_ignore_files+=("$search_dir/$rclone_ignore_file_name")
        fi
        
        if [[ -f "$search_dir/$dot_rclone_file_name" ]]; then
            project_root="$search_dir"
            dot_rclone_file="$project_root/$dot_rclone_file_name"
            break
        fi
        
        search_dir=$(dirname "$search_dir")
        [[ "$search_dir" == "/" ]] && break
    done

    if [[ -z "$dot_rclone_file" ]]; then
        echo "Error: $dot_rclone_file_name not found"
        return 1
    fi
    
    local rclone_remote=$(sed -n 's/^RCLONE_REMOTE=//p' "$dot_rclone_file")
    
    if [[ -z "$rclone_remote" ]]; then
        echo "Error: $dot_rclone_file missing rclone remote name in RCLONE_REMOTE variable"
        return 1
    fi

    local rel_path=$(realpath --relative-to="$project_root" "$PWD")
    [[ "$rel_path" == "." ]] && rel_path=""
    
    local args=()
    for arg in "$@"; do
        if [[ "$arg" == ":" ]]; then
            args+=("${rclone_remote}:")
        else
            args+=("$arg")
        fi
    done
    
    args+=("--exclude-if-present" ".rcloneignoredir")
    
    # Focus on current relative path
    args+=("--filter" "+ /${rel_path}\n")
    
    # Append any ignore file filters we encountered
    for ignore_file in "${rclone_ignore_files[@]}"; do
        while IFS= read -r line; do
            clean_line=$(echo "$line" | sed 's/#[[:space:]]*.*//; s/[[:space:]]*$//')
            if [ ! -z "$clean_line" ]; then
                args+=("--filter" "$clean_line")
            fi
        done < "$ignore_file"
    done
    
    # Restrict rclone to only our relative path
    args+=("--filter" "+ /${rel_path}/**")
    args+=("--filter" "- *")

    echo "Project Root: $project_root"
    echo "Relative Path: $rel_path"
    echo "Rclone dot_rclone_file: $dot_rclone_file"
    echo "Rclone ignore files: ${rclone_ignore_files[@]}"
    
    (
        cd $project_root
        cat "$dot_rclone_file"
        set -a
        source "$dot_rclone_file"
        set +a
        echo_and_run rclone "${args[@]}"
    )
}

{{- end }}
