#!{{ lookPath "bash" }}

source {{ .chezmoi.workingTree }}/scripts/common.sh

# Oh My Zsh
if [ ! -d "${HOME}/.oh-my-zsh" ]; then
    log_task "installing oh-my-zsh"
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended --keep-zshrc
fi