#!{{ lookPath "zsh" }}

set -eu

source {{ .chezmoi.workingTree }}/scripts/common.sh

# {{ output "date" "+%V" | trim }}
 
{{ lookPath "zsh" }} <<'EOF'

if [ -f "$ZSH/tools/upgrade.sh" ]; then
    zsh "$ZSH/tools/upgrade.sh"  
fi

EOF
