[Unit]
Description=WSL2 windows named pipe relay for %i socket

[Install]
WantedBy=default.target

[Service]
ExecStart=%h/.local/bin/wsl-pipe-relay.sh %i

Type=simple
KillMode=process
Restart=on-failure
RestartSec=3s
StartLimitIntervalSec=0
