{
  "model": "haiku",
  "enabledPlugins": {
    "typescript-lsp@claude-plugins-official": true,
    "ponytail@ponytail": true,
    "claude-mem-cowork@thedotmack": true,
    "mattpocock-skills@claude-plugins-official": true,
    "claude-mem@thedotmack": true,
    "superpowers@superpowers-marketplace": true
  },
  "extraKnownMarketplaces": {
    "ponytail": {
      "source": {
        "source": "github",
        "repo": "DietrichGebert/ponytail"
      }
    },
    "thedotmack": {
      "source": {
        "source": "github",
        "repo": "thedotmack/claude-mem"
      }
    },
    "superpowers-marketplace": {
      "source": {
        "source": "github",
        "repo": "obra/superpowers-marketplace"
      }
    }
  },
  "theme": "dark-ansi"
}
