db = "~/google-drive/KeePass/KeePassDatabase.kdbx"
{{ if .is_wsl -}}
keyfile = "/mnt/c/Users/Hemul/Documents/KeePassDatabase.key"
{{- else -}}
keyfile = "~/keys/KeePassDatabase.key"
{{- end }}
ttl = 900
